extends layout

block content
  div(id="App" class="loading")

    div(id="Menu")
      div(id="Search")
        form
          label(for="SearchInput")
            span Search
          input(type="text" placeholder="Enter what are you looking for..." name="searchText" id="SearchInput")
          button(type="submit") Search

    ul(id="MovieList" class="movie-list clearAfter")

    div(id="MovieDetails")
      ul(id="TorrentList")
    div(id="Footer")
      a(class="more din") more movies
    div(class="sk-folding-cube")
      div(class="sk-cube1 sk-cube")
      div(class="sk-cube2 sk-cube")
      div(class="sk-cube4 sk-cube")
      div(class="sk-cube3 sk-cube")