doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/mobile.css', media='only screen and (max-device-width: 1024px)')
  body
    block content
    script(data-main='/js/main', src='/js/libs/node_modules/requirejs/require.js')
    script(src='/js/analytics.js')