html {
    font-family: Helvetica, Arial;
    font-weight: 100;

    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    padding: 0;
    margin: 0;
    background-color: #0D1017;
}
.clearAfter:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#App {
    /*margin-top: 42px;*/
    padding: 10px 0;
    background-color: #1a2127;
}
#MovieList {
    padding: 0 10px;
}

.movie-list > li {
    float: left;
    width: 100%;
}
.movie {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    opacity: 1;
    padding: 5px;
    border: 1px solid transparent;
}

.movie figure {
    margin: 0;
    width: 100%;
    padding-top: 145%;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
}
.movie figure:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(42, 42, 42, 0.72) inset;
    border: 1px solid rgba(255, 255, 255, .2);
    box-sizing: border-box;
}
.movie figure:before {
    content: "";
    position: absolute;
    top: 119px;
    left: 1px;
    right: 1px;
    height: 70px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    border-radius: 0 0 3px 3px;
}
.movie:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(26, 33, 39, 0.5);;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    z-index: 10;
}
.movie figure > img{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}

.movie h4 {
    color: #0882b5;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.movie h3 {
    margin: 0;
    font-size: 11px;
    font-weight: normal;
}
.movie-details {
    color: #ffffff;
    padding: 5px;
    font-size: 12px;
}
.moviedetails .torrent-spec {
    font-size: 10px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}

/*.movie-list .movie:hover {
    border: 1px solid #2D3944;
    background-color: #242E38;
}

.movie-list:hover .movie:after {
   opacity: 1;
}
.movie-list .movie:hover:after {
    opacity: 0;
}*/

.movie-list .movie:hover {
    cursor: pointer;
}
.movie-list .movie.new figure,
.movie-list .movie:hover figure {
    box-shadow: 0 0 6px #fff;
}
.movie-list .movie:hover .movie-details h4 {
    color: #fff;
}

/*
.movie-list .movie:hover figure:before {
    background: rgba(0,0,0,0.5);
}
.movie:hover .moviedetails .torrent-spec {
    max-height: 200px;
}*/


@media only screen and (min-width: 350px) and (max-width: 409px)
{
    .movie-list > li {
        width: 50%;
    }
}

@media only screen and (min-width: 410px) and (max-width: 494px)
{
    .movie-list > li {
        width: 33.3%;
    }
}

@media only screen and (min-width: 495px) and (max-width: 604px)
{
    .movie-list > li {
        width: 25%;
    }
}
@media only screen and (min-width: 605px) and (max-width: 784px)
{
    .movie-list > li {
        width: 20%;
    }
}

@media only screen and (min-width: 785px) and (max-width: 949px)
{
    .movie-list > li {
        width: 16.6%;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1250px)
{
    .movie-list > li {
        width: 12.5%;
    }
}

@media only screen and (min-width: 1251px) and (max-width: 1556px)
{
    .movie-list > li {
        width: 11.1%;
    }
}

@media only screen and (min-width: 1557px) and (max-width: 1852px)
{
    .movie-list > li {
        width: 10%;
    }
}

@media only screen and (min-width: 1853px)
{
    .movie-list > li {
        width: 9.09%;
    }
}

/* Details */
#MovieDetails {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1);
    color: #ffffff;
    font-size: 12px;
    z-index: 100;
}
#MovieDetails figure {
    float: left;
}
#MovieDetails .movie-info {
    margin-left: 180px;
}
#MovieDetails .movieDetails {
    padding: 40px;
}

#MovieDetails .detailsBg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
    left: 0;
}
#MovieDetails table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#Menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #1a2127;
    z-index: 100;
}
.navigation {
    text-align: center;
    padding: 10px;
}
.navigation .navItem {
    display: inline-block;
    padding: 4px 5px;
}
.navItem a {
    color: #09658C;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    font-size: 12px;
}
/* SEARCH */
#Search {
    position: absolute;
    top: 0;
    right: 10px;
    width: 150px;
}
#Search label {
    color: #09658C;
}
#Search > form {
    padding: 10px 5px;
    position: relative;
}
#Search input {
    display: none;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    border: 1px solid rgba(255,255,255,.3);
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
    padding-right: 50px;
    text-overflow: ellipsis;
}
#Search button {
    display: none;
    position: absolute;
    top: 10px;
    right: 5px;
    height: 25px;
    border: 0 none;
    /* border-radius: 3px; */
    background-color: rgba(255,255,255,0.1);
    color: white;
    border-left: 1px solid rgba(255,255,255,0.5);
}

.more {
    color: #ccc;
    text-transform: uppercase;
    padding: 5px 10px;
    text-align: center;
    display: block;
    border: 1px solid #ccc;
    margin: 10px;
    cursor: pointer;
    font-size: 0.7em;
}